<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/nifty.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/theme-unla.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/custom-unla.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/switchery/switchery.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-validator/bootstrapValidator.min.css">

    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/jquery.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/bootstrap.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/nifty.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/sweetalert/sweetalert.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/switchery/switchery.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
        .panel-footer {
            border-bottom-right-radius: 15px !important;
            border-bottom-left-radius: 15px !important;
        }

        .btn {
            text-transform: none !important;
        }
    </style>

    
</head>

<body>

    <div id="app">
        <div id="page-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel">
                        <div class="panel-heading pad-top mar-btm">
                            <div class="panel-control">
                                <select v-model="question.typeSelected" data-placeholder="Tipo de pregunta" id="chosen-select" class="selectpicker">                                
                                    <option value="" selected disabled hidden>Tipo de pregunta:</option>
                                    <option value="LinearScale">LinearScale</option>
                                    <option value="Radiobutton">Radiobutton</option>
                                    <option value="Checkbox">Checkbox</option>
                                    <option value="LongAnswer">LongAnswer</option>
                                </select>
                            </div>
                            <h3 class="panel-title">
                                <input v-model="question.title" type="text" class="form-control" placeholder="Título de la pregunta...">
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="well">#CONTENIDO                                
                                <linear-scale v-show="question.typeSelected==='LinearScale'" v-on:change-parent-data="updateLinearScale"></linear-scale>
                                <radiobutton v-show="question.typeSelected==='Radiobutton'"></radiobutton>
                                <checkbox v-show="question.typeSelected==='Checkbox'"></checkbox>
                                <long-answer  v-show="question.typeSelected==='LongAnswer'"></long-answer>
                            </div>
                            <div class="text-right">Requerido <input v-model="question.required" id="sw-required" type="checkbox" checked></div>
                        </div>
                        <div class="panel-footer text-right">
                            <button v-on:click="getData" class="btn btn-morado btn-rounded">GUARDAR</button>
                        </div>
                    </div>
                </div>
            </div>  
            <p>{{ information }}</p>          
            <p>{{ jsonData }}</p>            
        </div>
    </div>
    
    <script src="components/LinearScale.js"></script>
    <script src="components/Radiobutton.js"></script>
    <script src="components/Checkbox.js"></script>
    <script src="components/LongAnswer.js"></script>
    <script src="components/Item.js"></script>

    <!-- <script src="formulario.js"></script> -->

    <script>
        $(document).ready(function(){
            var elem = document.querySelector('#sw-required');
            var init = new Switchery(elem);
        });

        var app = new Vue({
            el: '#app',
            data: {
                question:{
                    title:'',
                    typeSelected:'',                        
                    required:true,
                    LinearScale:{
                        title: 'LinearScale',
                        lowerValue: 1,
                        upperValue: 2,
                        lowerValueDescription:'',
                        upperValueDescription:'',
                    },
                    
                },
                jsonData:'',
                jsonObj:null,                    
            },

            methods:{
                getData(){
                    
                    var a=this.$children.entries()
                    for(i of a){
                        if(i[1].title==this.question.typeSelected)
                            console.log(i[1].title)                            
                    }

                    this.jsonData=JSON.stringify(this.question)
                    this.jsonObj=JSON.parse(this.jsonData)
                },
                updateLinearScale(value){
                    this.question.LinearScale=value
                }
            },

            computed:{
                information(){
                    return JSON.stringify(this.question)                    
                }
            }
        })
    </script>

</body>

</html>