<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/nifty.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/theme-unla.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/custom-unla.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/switchery/switchery.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-validator/bootstrapValidator.min.css">    

    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/jquery.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/bootstrap.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/nifty.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/sweetalert/sweetalert.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/switchery/switchery.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="notify.js"></script>

    <style>
        .panel-footer {
            border-bottom-right-radius: 15px !important;
            border-bottom-left-radius: 15px !important;
        }

        .btn {
            text-transform: none !important;
        }
    </style>

    
</head>

<body>

    <div id="app">
        <div id="page-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel">
                        <div class="panel-heading pad-top mar-btm">
                            <div class="panel-control">
                                <select v-model="question.typeSelected" data-placeholder="Tipo de pregunta" id="chosen-select" class="selectpicker">                                
                                    <option value="" selected disabled hidden>Tipo de pregunta:</option>
                                    <option value="LinearScale">LinearScale</option>
                                    <option value="Radiobutton">Radiobutton</option>
                                    <option value="Checkbox">Checkbox</option>
                                    <option value="LongAnswer">LongAnswer</option>
                                </select>
                            </div>
                            <h3 class="panel-title">
                                <input v-model="question.title" type="text" class="form-control" placeholder="Título de la pregunta...">
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="well bord-no">
                                <em v-if="question.typeSelected==''">-No ha seleccionado ningún tipo de pregunta-</em>
                                <linear-scale v-show="question.typeSelected==='LinearScale'" v-on:change-parent-linearscale="updateLinearScale"></linear-scale>
                                <radiobutton v-show="question.typeSelected==='Radiobutton'" v-on:change-parent-radio="updateRadiobutton"></radiobutton>
                                <checkbox v-show="question.typeSelected==='Checkbox'" v-on:change-parent-checkbox="updateCheckbox"></checkbox>
                                <long-answer  v-show="question.typeSelected==='LongAnswer'" v-on:change-parent-longanswer="updateLongAnswer"></long-answer>
                            </div>
                            <div class="text-right">Requerido <input v-model="question.required" id="sw-required" type="checkbox" checked></div>
                        </div>
                        <div class="panel-footer text-right">
                            <button v-on:click="submitData" class="btn btn-morado btn-rounded">GUARDAR</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="list-group">
                        <li v-for="item in result" class="list-group-item bg-light">                            
                            <!-- Id: {{item.Id}} -->
                            <div>
                                <span class="pull-right text-bold">
                                    <button v-on:click="removeElement(item.Id)" class="btn btn-text-rojo btn-rounded">                            
                                        BORRAR
                                    </button>
                                </span>
                                
                                <div>                                    
                                    <h5>{{item.Title}}</h5>
                                    <span v-if="item.Required==true" class="text-sm text-azul">-Obligatoria-</span>
                                    <span v-else class="text-sm">-Opcional-</span>
                                </div>
                                <br>
                                <div v-if="item.Type=='LinearScale'">
                                    <div class="mar-btm"><span class="label label-mint">{{item.LinearScale.LowerValue}}</span> {{item.LinearScale.LowerValueDescription}}</div>                                    
					                <div class="mar-btm"><span class="label label-dark">{{item.LinearScale.UpperValue}}</span> {{item.LinearScale.UpperValueDescription}}</div>                                    
                                </div>
                                <div v-if="item.Type=='Radiobutton'">
                                    <div class="radio" v-for="i in item.Radiobutton.Items">
                                        <input class="magic-radio" type="radio" disabled>
                                        <label class="text-dark">{{i}}</label>
                                    </div>                                    
                                </div>
                                <div v-if="item.Type=='Checkbox'">                                    
                                    <div class="radio" v-for="i in item.Checkbox.Items">
                                        <input class="magic-checkbox" type="checkbox" disabled>
                                        <label>{{i}}</label>
                                    </div>                              
                                </div>
                                <div v-if="item.Type=='LongAnswer'">                                    
                                    <input type="text" class="form-control" :placeholder="item.LongAnswer.Placeholder" style="pointer-events: none">                                    
                                </div>
                            </div>
                
                        </li>
                    </div>
                </div>
            </div>        
        </div>
    </div>
    
    <script src="components/LinearScale.js"></script>
    <script src="components/Radiobutton.js"></script>
    <script src="components/Checkbox.js"></script>
    <script src="components/LongAnswer.js"></script>
    <script src="components/Item.js"></script>

    <!-- <script src="formulario.js"></script> -->

    <script>
        const url = 'http://sii.unla.edu.mx/FormulariosUNLA/Forms/Questions'

        $(document).ready(function(){
            var elem = document.querySelector('#sw-required');
            var init = new Switchery(elem);
        });

        var app = new Vue({
            el: '#app',
            data: {
                question:{
                    title:'',
                    typeSelected:'',                        
                    required:true,
                    LinearScale:{
                        title: 'LinearScale',
                        lowerValue: 1,
                        upperValue: 2,
                        lowerValueDescription:'',
                        upperValueDescription:'',
                    },
                    Radiobutton:{
                        title: 'Radiobutton',
                        counter: 1,
                        items:[]
                    },
                    Checkbox:{
                        title: 'Checkbox',
                        counter: 1,
                        items:[]
                    },
                    LongAnswer:{
                        title: 'LongAnswer',
                        placeholder:''
                    }
                },                
                result:[],
                errors: [],

                // jsonData:'',
                // jsonObj:null, 
            },

            created() {                
                this.refresh()
            },

            methods:{
                submitData(event){
                    this.errors = [];

                    if (!this.question.title) {
                        this.errors.push('"Título de la pregunta" requerido.');
                    }
                    if (!this.question.typeSelected) {
                        this.errors.push('"Tipo de pregunta" requerido.');
                    }

                    switch(this.question.typeSelected){
                        case "LinearScale":
                                if(!this.question.LinearScale.lowerValue){
                                    this.errors.push('"Valor mínimo" requerido.');
                                }
                                if(!this.question.LinearScale.upperValue){
                                    this.errors.push('"Valor máximo" requerido.');
                                }
                                if(!this.question.LinearScale.lowerValueDescription){
                                    this.errors.push('"Etiqueta de valor mínimo" requerido.');
                                }
                                if(!this.question.LinearScale.upperValueDescription){
                                    this.errors.push('"Etiqueta de valor máximo" requerido.');
                                }
                            break;
                        case "Radiobutton":
                            if(app.question.Radiobutton.items.length == 0){
                                this.errors.push('No hay "Opciones" de respuesta.');
                            }                            
                            break;
                        case "Checkbox":
                            if(app.question.Checkbox.items.length == 0){
                                this.errors.push('No hay "Opciones" de respuesta.');
                            }                            
                            break;
                        case "LongAnswer":
                            if(!this.question.LongAnswer.placeholder){
                                this.errors.push('"Placeholder" requerido.');
                            }  
                            break;

                    }

                    if(this.errors == 0){

                        event.preventDefault();

                        $.ajax({
                            type: "POST",
                            url: `${url}/InsertQuestion`,
                            data: this.question,
                            success: function (result, status, xhr) {                            
                                app.refresh()
                                app.question.title=""
                                msgAlert('Pregunta guardada correctamente', 'success')
                            },
                            error: function (xhr, status, error) {
                                msgAlert('Error al guardar la pregunta: '+error, 'error')
                            }
                        });                        
                    }                   

                    this.errors.forEach(element => {
                        msgAlert(element, "error");    
                    });
                    
                    // Imprime el objeto guardado
                    // var a=this.$children.entries()
                    // for(i of a){
                    //     if(i[1].title==this.question.typeSelected)
                    //         console.log(i[1].title)                            
                    // }

                    // this.jsonData=JSON.stringify(this.question)
                    // this.jsonObj=JSON.parse(this.jsonData)
                },
                updateLinearScale(value){
                    this.question.LinearScale=value
                },
                updateRadiobutton(value){
                    this.question.Radiobutton=value

                },
                updateCheckbox(value){
                    this.question.Checkbox=value

                },
                updateLongAnswer(value){
                    this.question.LongAnswer=value

                },
                refresh(){
                    fetch(`${url}/GetQuestions`)
                        .then(res => res.json())
                        .then(res => this.result=res)
                },
                removeElement(id) {
                    $.ajax({
                        type: "POST",
                        url: `${url}/DeleteQuestion`,
                        data: { id },
                        success: function (result, status, xhr) {                            
                            app.refresh()  
                            msgAlert('Pregunta borrada correctamente', 'success')                          
                        },
                        error: function (xhr, status, error) {
                            msgAlert('Error al borrar la pregunta: '+error, 'error')
                        }
                    });
                },
            },

            computed:{
                information(){
                    return JSON.stringify(this.question)                    
                }
            }
        })

        function msgAlert(message, type) {
            $.notify(message, type);
            //success,info,warn,error
        }

        function msgSwal(title, message, type) {
            swal(
                {
                    html: true,
                    title: title,
                    text: message,
                    type: type,
                    showCancelButton: false,
                    confirmButtonColor: "#3D1951",
                    confirmButtonText: "Entendido",
                    closeOnConfirm: false
                }
            );
        }
    </script>

</body>

</html>