<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/nifty.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/theme-unla.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/css/custom-unla.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/switchery/switchery.min.css">
    <link rel="stylesheet" href="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-validator/bootstrapValidator.min.css">

    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/jquery.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/bootstrap.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/js/nifty.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/sweetalert/sweetalert.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/switchery/switchery.min.js"></script>
    <script src="https://ti.unla.edu.mx/repositoriosii/Nifty_2.9.1/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="app">
        <h1 id="h1">{{title}}</h1>

        <div class="row">
            <div class="col-md-6">
                <div>
                    Valor mínimo:
                </div>
                <div>
                    <select v-model="lowerValue" data-placeholder="Tipo de pregunta" id="upper-select" class="selectpicker">
                        <option value=1 selected disabled>1</option>
                    </select>
                </div>
                <div>                    
                    <input v-model="lowerValueDescription" type="text" class="form-control" placeholder="Etiqueta de valor mínimo">                    
                </div>
                <div>
                    {{lowerValue}} : {{lowerValueDescription}}
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    Valor máximo:
                </div>
                <div>
                    <select v-model="upperValue" data-placeholder="Tipo de pregunta" id="upper-select" class="selectpicker">
                        <option value=2 selected>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                        <option value=6>6</option>
                        <option value=7>7</option>
                        <option value=8>8</option>
                        <option value=9>9</option>
                        <option value=10>10</option>
                    </select>
                </div>
                <div>                    
                    <input v-model="upperValueDescription" type="text" class="form-control" placeholder="Etiqueta de valor máximo">                    
                </div>
                <div>
                    {{upperValue}} : {{upperValueDescription}}
                </div>
            </div>
        </div>
    </div>    
    
    <script>        
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: 'LinearScale',
                    lowerValue: 1,
                    upperValue: 2,
                    lowerValueDescription:'',
                    upperValueDescription:'',
                }
            }
        })
    </script>

</body>

</html>